* {
   padding: 0;
   margin: 0;
}

header{
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: 15px;
   padding: 20px 40px;
}

img{
   width: 10%;
   border-radius: 5px;
}

main{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 30px;
   padding: 20px 40px;
}

h1{
   border-bottom: solid;
}

a{
   color: black;
   text-decoration: none;
   transition: all 0.5s;
}

a:hover{
   color:blueviolet;
   font-size: large;
}

.contacts{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 15px;
}

.summary{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 15px;
}

.skills{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 15px;
}

.codeExamples{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 15px;
}

.codeExamples pre {
   border: 1px solid #4a4a4a;
   padding: 10px;
   border-radius: 4px;
   display: flex;
 }

 .projectExamples{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 15px;
 }

 .experience{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 15px;
 }

 .education{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 15px;
 }

 .english{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 15px;
 }

